anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
certifi==2023.5.7
cffi
charset-normalizer
click==8.1.3
cloudpickle==2.2.1
colorama
comm
contourpy
crossflow==0.1.1
cycler
Cython
dask==2023.5.1
debugpy
decorator
defusedxml
distributed==2023.5.1
entrypoints
exceptiongroup
executing
fastjsonschema
flit_core
fonttools
fsspec==2023.5.0
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
locket==1.0.0
MarkupSafe
matplotlib
matplotlib-inline
mdtraj
mistune
msgpack==1.0.5
munkres==1.1.4
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
OpenMM==7.7.0
overrides
packaging
pandas
pandocfilters
parso
partd==1.4.0
patsy
pexpect
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
ply==3.11
pooch
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
py-cpuinfo
pycparser
Pygments
pyparsing
PyQt5==5.15.7
PyQt5-sip==12.11.0
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
sip
six
sniffio
sortedcontainers==2.4.0
soupsieve
stack-data
statsmodels
tables
tblib==1.7.0
terminado
threadpoolctl
tinycss2
toml
tomli
toolz==0.12.0
tornado
tqdm
traitlets
typing-utils
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
zict==3.0.0
zipp
